{% extends "home/base.html" %}

{% block content %}
    <style>
    .custom-btn {
        color: white;
        background-color: #7d6608;
        padding: 15px 25px;
        border-radius: 10px;
        transition: 0.3s;

        border-color: transparent;
    }
    .custom-btn:hover{
        background-color: goldenrod;
        color: white;
    }
    .custom-btn2 {
        color: white;
        background-color: #7d6608;
        padding: 16px 150px;
        border-radius: 10px;
        transition: 0.3s;
        border-color: transparent;
    }
    .custom-btn2:hover{
        background-color: goldenrod;
        color: white;
    }
    .custom-frame{
        width: 200px;
        border: 3px solid darkgray;
        border-radius: 15px;
        box-shadow: 0 7px 2px rgba(0, 0, 0, 0.1);
    }

    </style>
    <div style="height:50px"></div>
    <div class="row justify-content-center" style="height: 100px">
        <div class="col-md-20">

    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <input  type="file" id="myCheckbox"  name="images" multiple class="custom-btn font">

        <button class="custom-btn2 font">Submit</button>

    </form>
            <div style="height: 5px"></div>
            <div class="text-center text-muted font">Max 5 photos allowed</div>
        </div>
    </div>

    <div style="height: 20px"></div>
<h3 class="text-center font-weight-bold font">Current Photos:</h3>
    <div class="row justify-content-center">
    {% for img in images %}
        <div class="text-center" style="height: 220px; width: 220px">
            <img src="{{ img.images.url }}" alt="Image" class="custom-frame">
        </div>
    {% endfor %}
    </div>
{% endblock %}