{% extends "home/base.html" %}

{% block content %}
    <style>
    .img-outline {
        outline: 5px solid black;
        border-radius: 355px;
        box-shadow: 0 15px 2px rgba(0, 0, 0, 0.1);
    }
    .name{
        color: black;
        border-radius: 15px;
    }
    .name:hover{
        transition: 0.4s;
        color: white;
        background-color: black;
        text-decoration: none;
        border: black;
        border-radius: 3px;
    }

    </style>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            {% for minifigure in minifigures%}
                <div id="figure_list" class="card">
                    <div class="card-body">
                        <div class="media mb-4">
                            <img src="{{ minifigure.image.url }}" alt="Minifigure Image" class="img-outline mr-3">
                            <div class="media-body">
                                <h3 class="font"> <a href='{% url 'minifigures-post' minifigure.id %}' class="font-weight-bold name">{{ minifigure.character_name }}</a>
                                    <small class="text-muted font">
                                        {% if minifigure.if_custom %}
                                            Custom Minifigure <span class="badge bg-dark text-white float-right">{{ minifigure.estimated_price }}$  </span>
                                        {% else %}
                                            Official Minifigure <span class="badge bg-dark text-white float-right">{{ minifigure.estimated_price }}$  </span>
                                        {% endif %}
                                    </small>
                                </h3>
                                <small class="text-muted font">By <a href="{% url "view_other_profile" minifigure.owner.id %}" class="name">{{ minifigure.owner }}</a></small>
                                <p class="font" style="margin-top: 5px"><em>{{ minifigure.description }}</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
            {% endfor %}
        </div>
    <div class="col-md-2">
        <div class="card" style="width: 160px; height: 200px;background-color: white; color: black; border-width: 1px; border-color: lightgray; border-radius: 7px">
            <form method="post" id="filter">
                {% csrf_token %}
                <label for="filters" style="margin: 10px" class="font"> Sort by:</label>
                <select id="filters" name="filters" style="border-color: darkgray; background-color: whitesmoke; margin: 5px">
                    <option value="date_added">Date Added</option>
                    <option value="most_expensive">Most Expensive</option>
                    <option value="least_expensive">Least Expensive</option>
                    <option value="name">Alphabetically</option>
                </select>

                <label for="display_figures" style="margin: 10px" class="font"> Filter: </label>
                <select id="display_figures" name="display_figures" style="border-color: darkgray; background-color: whitesmoke; margin: 5px; width: 143px">
                    <option value="all">All</option>
                    <option value="custom">Custom</option>
                    <option value="original">Original</option>
                </select>
                <button type="submit" form="filter" style="margin-left: 30px; margin-top: 10px">Apply</button>
                </form>
        </div>
    </div>
    </div>
</div>

{% endblock content %}