{% extends "home/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
    .custom-btn{
        color: white;
        background-color: #7d6608;
        padding: 7px 15px;
        transition: background-color 0.3s;
        border-radius: 10px;
        border-color: transparent;
    }
    .custom-btn:hover{
        background-color: goldenrod;
        color: white;
        border-color: transparent;
    }
    </style>
    <div style="height: 20px"></div>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {% block content1 %}
                <legend class='border-bottom mb-4'>
                    Add a new minifigure
                </legend>
                {% endblock content1 %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="custom-btn btn-outline-light" type="submit">Submit</button>
            </div>
            <div style="height: 20px"></div>
        </form>
    </div>
{% endblock content%}