{% extends "home/base.html" %}

{% block content %}
<style>
    .custom-btn {
        color: white;
        background-color: #7d6608;
        padding: 15px 25px;
        border-radius: 10px;
        transition: 0.3s;
    }

    .custom-btn:hover {
        color: white;
        background-color: goldenrod;
        text-decoration: none;
    }
    .img-outline2 {
        border: 3px solid darkgray;
        border-radius: 20px;
        box-shadow: 0 7px 2px rgba(0, 0, 0, 0.1);

}
    .img-outline {
        outline: 5px solid black;
        border-radius: 355px;
        box-shadow: 0 15px 2px rgba(0, 0, 0, 0.1);
    }


</style>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="media mb-6">
                        <img src="{{ minifigure.image.url }}" alt="Minifigure Image" class="img-outline account-img mr-3">
                        <div class="media-body">
                            <h3 class="mt-0"><b>{{ minifigure.character_name }}</b> <span class="badge bg-dark text-white float-right" >{{ object.estimated_price }}$</span></h3>
                            <small class="text-muted">
                                {% if minifigure.if_custom %}
                                Custom Minifigure
                                {% else %}
                                Official Minifigure
                                {% endif %}
                            </small>
                            <small class="text-muted">By <a href="#" class="btn-outline-dark">{{ object.owner }}</a></small>
                            <p class="mb-1"></p>
                            <p class="mb-1"></p>
                            <p class="mb-1"><em>{{ object.description }}</em></p>
                            <div class="bottom-text text-right">
                                {% if minifigure.owner.username == user.username %}
                                <small class="text-muted">
                                    <a href="{% url "minifigures-update" minifigure.id %}" class="text-muted">Edit</a>
                                    <div></div>
                                    <a href="{% url "minifigures-delete" minifigure.id %}" class="text-muted">Delete</a>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 25px"></div>
            <!-- to do ogarnięcia -->
            <div style="height: 20px"></div>
                <div class="text-center">
                    <div style="height: 50px"></div>
                    {% for image in images %}
                    <img class="img-outline2" src="{{ image.images.url }}" alt="Image">
                    <div style="height: 20px"></div>
                    {% endfor %}
            </div>
            {% if user.username == minifigure.owner.username %}
                <div  style="height: 30px"></div>
                <div class="text-center"><a class="custom-btn" href="{% url "add-photos" minifigure.id %}">Add more photos</a></div>
                <div  style="height: 50px"></div>
                <div class="text-center"><a class="custom-btn" href={% url "remove-photos" minifigure.id %}>Delete Photos</a></div>
                <div  style="height: 50px"></div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}