{% extends "home/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="media mb-4">
                    <img src="{{ minifigure.image.url }}" alt="Minifigure Image" class="rounded-circle account-img mr-3">
                        <div class="media-body">
                            <h3 class="mt-0"> <h3 class="mt-0"> <b>{{ object.character_name }}</b>

                            <small class="text-muted">
                                    {% if minifigure.if_custom %}
                                       Custom Minifigure <span class="badge bg-dark text-white float-right">{{ object.estimated_price }}$  </span>
                                    {% else %}
                                       Official Minifigure <span class="float-right">{{ object.estimated_price }}$  </span>
                                    {% endif %}
                                </small>
                            </h3></h3>
                            <small class="text-muted">By <a href="#" class="btn-outline-dark">{{ object.owner }}</a></small>

                            <p class="mb-1">
                            </p>
                            <p class="mb-1"></p>

                            <p class="mb-1" ><em>{{ object.description }}</em></p>
                            <div class="bottom-text text-right">
                                {% if minifigure.owner.username == user.username %}
                                <small class="text-muted">
                                    <a href="{% url "minifigures-update" minifigure.id %}" class="text-muted">Edit</a>
                                </small></div>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
            <p></p>
        </div>
    </div>
</div>
{% endblock content %}