{% extends "home/base.html" %}

{% block content %}
    <style>
        .custom-btn {
            background-color: #7d6608;
            color: white;
            border-radius: 20px;
            padding: 10px 40px;
            font-size: 24px;
            transition: background-color 0.3s, color 0.3s;
        }

        .custom-btn:hover {
            background-color: goldenrod;
            color: white;
            text-decoration: none;
        }

        .img-outline {
            outline: 5px solid black;
            border-radius: 355px;
            box-shadow: 0 15px 2px rgba(0, 0, 0, 0.1);
        }
            .name{
            color: black;
            border-radius: 15px;
        }
        .name:hover{
            transition: 0.4s;
            color: white;
            background-color: black;
            text-decoration: none;
            border: black;
            border-radius: 3px;
        }
    </style>
    {% if user.username %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                    <div class="text-center">
                        <a href="{% url 'minifigures-create' %}" class="custom-btn text-center"> + </a>
                    </div>
                    <div style="height: 20px"></div>
                    {% if user_minifigures_count != 0 %}
                        {% for minifigure in minifigure_list %}
                            {% if minifigure.owner.username == user.username %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media mb-4">
                                            <img src="{{ minifigure.image.url }}" alt="Minifigure Image" class="account-img mr-3 img-outline ">
                                            <div class="media-body">
                                                <h3 class="mt-0">
                                                    <a href='{% url 'minifigures-post' minifigure.id %}' class="name font-weight-bold font">
                                                        {{ minifigure.character_name }}
                                                    </a>
                                                    <small class="text-muted font">
                                                        {% if minifigure.if_custom %}
                                                            Custom Minifigure <span class="badge bg-dark text-white float-right">{{ minifigure.estimated_price }}$  </span>
                                                        {% else %}
                                                            Official Minifigure <span class="badge bg-dark text-white float-right ">{{ minifigure.estimated_price }}$  </span>
                                                        {% endif %}
                                                    </small>
                                                </h3>
                                                <p class="font"><em>{{ minifigure.description }}</em></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p></p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="card">
                            <div class="card-body text-center font-weight-bold font">
                                Seems like you haven't added any figures yet!
                            </div>
                        </div>
                    {% endif %}
            </div>
            <div>
                <div style="height: 55px"></div>
                <table class="table table-bordered font">
                    <thead>
                        <tr>
                            <td><h5 class="font-weight-bold font">Statistics</h5></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total minifigures: {{ user_minifigures_count }}</td>
                        </tr>
                        <tr>
                            {% if user_minifigures_value > 0 %}
                                <td>Total value: {{ user_minifigures_value }}$</td>
                            {% else %}
                                <td>Total value: 0$</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
        <div style="height: 20px"></div>
        <div class="card">
            <div class="card-body text-center font-weight-bold font">
                You need to be logged in to access this feature! <a href='/brickonomy/login' class="btn-outline-dark">Log in now!</a>
            </div>
        </div>
    {% endif %}
{% endblock content %}